<footer class="container mt-3">
  <button class="w-100 py-4 bg-yellow"><strong>카카오페이지</strong> 앱으로 보기 &GT;</button>

  <small class="d-flex my-5 gray">
    <div class="flex">
      <!-- 바로가기 -->
      <p>
        <a href="http://www.kakaopagecorp.com" target="_blank" rel="noopener noreferrer">회사소개</a>
        •
        <a href="https://page.kakao.com/policy?type=terms" target="_blank" rel="noopener noreferrer">이용약관</a>
        •
        <a href="https://page.kakao.com/policy?type=privacy" target="_blank" rel="noopener noreferrer">개인정보처리방침</a>
        •
        <a href="https://page.kakao.com/policy?type=safeguard" target="_blank" rel="noopener noreferrer">청소년보호정책</a>
        •
        <a href="https://page.kakao.com/policy?type=notice" target="_blank" rel="noopener noreferrer">공지사항</a>
      </p>
      <!-- 사업자 정보 -->
      <p>
        <button class="gray px-0">(주)카카오페이지 사업자 정보 ▽</button>
        |
        <a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=2208802594">사업자 정보 확인</a>
      </p>
      <!-- 저작권 -->
      <p>
        ⓒ Kakao Page Corp.
      </p>
    </div>
    <div class="w-10 text-center">
      <img src="https://static-page.kakao.com/static/common/okMark.png?861290e3393cbb3c93e6d3056d6905af" alt="ok mark">
      <p>저작권 ok</p>
    </div>
  </small>
</footer>