<div id="section_webtoon" class="d-none">
  <%-
  include('component/_', {
    type: 'box',
    data: {
      noPadding: true,
      components: [
        {
          type: 'nav',
          data: {
            navTitle: 'nav_webtoon',
            navType: 2,
            navList: [
              { text: '홈', target: '#section_webtoon_home', selected: true },
              { text: '요일연재', target: '#section_webtoon_daily', selected: false },
              { text: '웹툰', target: '#section_webtoon_webtoon', selected: false },
              { text: '소년', target: '#section_webtoon_boy', selected: false },
              { text: '드라마', target: '#section_webtoon_drama', selected: false },
              { text: '로맨스', target: '#section_webtoon_romance', selected: false },
              { text: '로판', target: '#section_webtoon_rofan', selected: false },
              { text: '액션무협', target: '#section_webtoon_action', selected: false },
              { text: 'BL/GL', target: '#section_webtoon_blgl', selected: false },
            ]
          }
        }
      ]
    }
  })
  %>

  <!-- Home -->
  <div id="section_webtoon_home">
    <%-
    include('component/_', {
      components: [
        {
          type: 'box',
          data: {
            noPadding: true,
            components: [
              {
                type: 'carousel',
                data: {}
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            components: [
              {
                type: 'quicklink',
                data: {
                  links: [
                    { text: '오늘 UP', count: 179 },
                    { text: '오늘 신작', count: 2 },
                    { text: '오리지널', count: 1250 },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            components: []
          }
        },
        {
          type: 'box',
          data: {
            title: '요일연재 TOP',
            titleCount: 1084,
            components: [
              {
                type: 'nav',
                data: {
                  navTitle: 'nav_webtoon_home_daily_top',
                  navType: 2,
                  navList: [
                    { text: '월', target: '#section_webtoon_home_daily_top_mon', selected: true },
                    { text: '화', target: '#section_webtoon_home_daily_top_tue', selected: false },
                    { text: '수', target: '#section_webtoon_home_daily_top_wed', selected: false },
                    { text: '목', target: '#section_webtoon_home_daily_top_thu', selected: false },
                    { text: '금', target: '#section_webtoon_home_daily_top_fri', selected: false },
                    { text: '토', target: '#section_webtoon_home_daily_top_sat', selected: false },
                    { text: '일', target: '#section_webtoon_home_daily_top_sun', selected: false },
                    { text: '완결', target: '#section_webtoon_home_daily_top_end', selected: false },
                  ]
                }
              },
              {
                type: 'cardbox',
                data: {
                  id: 'section_webtoon_home_daily_top_mon',
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위' },
                  ]
                }
              },
              {
                type: 'cardbox',
                data: {
                  id: 'section_webtoon_home_daily_top_tue',
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.9' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '10.0' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.4' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.7' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '8.5' },
                  ]
                }
              },
              {
                type: 'cardbox',
                data: {
                  id: 'section_webtoon_home_daily_top_wed',
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위' },
                  ]
                }
              },
              {
                type: 'cardbox',
                data: {
                  id: 'section_webtoon_home_daily_top_thu',
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위' },
                  ]
                }
              },
              {
                type: 'cardbox',
                data: {
                  id: 'section_webtoon_home_daily_top_fri',
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위' },
                  ]
                }
              },
              {
                type: 'cardbox',
                data: {
                  id: 'section_webtoon_home_daily_top_sat',
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위' },
                  ]
                }
              },
              {
                type: 'cardbox',
                data: {
                  id: 'section_webtoon_home_daily_top_sun',
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위' },
                  ]
                }
              },
              {
                type: 'cardbox',
                data: {
                  id: 'section_webtoon_home_daily_top_end',
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.9' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.8' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '10.0' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.8' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.6' },
                  ]
                }
              },
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '기대신작 TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 5, img: 'card5.png', title: '건마왕증', subtitle: '마왕님 왜 그렇게 뿔에 집착하나요?', view: '4.8', top: '이벤트' },
                    { cardType: 5, img: 'card5.png', title: '건마왕증', subtitle: '마왕님 왜 그렇게 뿔에 집착하나요?', view: '4.8', top: '이벤트' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '로맨스 TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '로판 TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '드라마 TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: 'BL/GL TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '소년 TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '액션무협 TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '일간 랭킹 TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 3, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 3, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 3, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '추천 이벤트',
            components: [
              {
                type: 'carousel',
                data: {}
              }
            ]
          }
        },
      ]
    })
    %>
  </div>

  <!-- Daily -->
  <div id="section_webtoon_daily">
    <%-
    include('component/_', {
      components: [
        {
          type: 'box',
          data: {
            noPadding: true,
            components: [
              {
                type: 'carousel',
                data: {}
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            components: [
              {
                type: 'nav',
                data: {
                  navTitle: 'nav_webtoon_daily_day',
                  navType: 4,
                  navList: [
                    { text: '월', target: '.webtoon_daily_mon', selected: true },
                    { text: '화', target: '.webtoon_daily_tue', selected: false },
                    { text: '수', target: '.webtoon_daily_wed', selected: false },
                    { text: '목', target: '.webtoon_daily_thu', selected: false },
                    { text: '금', target: '.webtoon_daily_fri', selected: false },
                    { text: '토', target: '.webtoon_daily_sat', selected: false },
                    { text: '일', target: '.webtoon_daily_sun', selected: false },
                    { text: '완결', target: '.webtoon_daily_end', selected: false },
                  ]
                }
              },
              {
                type: 'nav',
                data: {
                  navTitle: 'nav_webtoon_daily_type',
                  navType: 4,
                  navList: [
                    { text: '전체', target: '.webtoon_daily_all', selected: true },
                    { text: '웹툰', target: '.webtoon_daily_webtoon', selected: false },
                    { text: '(시계)웹툰', target: '.webtoon_daily_time', selected: false },
                  ]
                }
              },
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위', days: ['mon', 'thu', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위', days: ['tue', 'sat'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위', days: ['wed', 'fri', 'sun'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위', days: ['mon', 'sat', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위', days: ['tue', 'sun'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위', days: ['wed', 'thu', 'fri'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위', days: ['mon', 'wed', 'fri'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위', days: ['tue', 'thu'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위', days: ['sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위', days: ['mon', 'tue', 'fri'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위', days: ['wed', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위', days: ['thu', 'sat'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위', days: ['mon', 'wed', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위', days: ['tue', 'thu', 'sun'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위', days: ['fri', 'sat'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '10.0', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.9', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.8', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.7', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.6', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.5', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.4', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.3', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.2', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.1', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.0', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                  ]
                }
              }
            ]
          }
        },
      ]
    })
    %>
  </div>

  <!-- Webtoon -->
  <div id="section_webtoon_webtoon">

  </div>

  <!-- Boy -->
  <div id="section_webtoon_boy">

  </div>

  <!-- Drama -->
  <div id="section_webtoon_drama">

  </div>

  <!-- Romance -->
  <div id="section_webtoon_romance">

  </div>

  <!-- Rofan -->
  <div id="section_webtoon_rofan">

  </div>

  <!-- Action -->
  <div id="section_webtoon_action">

  </div>

  <!-- BL / GL -->
  <div id="section_webtoon_blgl">

  </div>
</div>