* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

/*

  display

*/

.d-none {
  display: none !important;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  flex: auto;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

/*

  position

*/

.p-sticky {
  position: sticky;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.right {
  float: right;
}

/*

  color

*/

.white {
  color: white;
}

.gray {
  color: #999999;
}

.yellow {
  color: #FFD500;
}

.bg-white {
  background-color: #fff;
}

.bg-dark {
  background-color: #242526;
}

.bg-light {
  background-color: #eee;
}

.bg-yellow {
  background-color: #FFD500;
}

.pill-yellow {
  border-radius: 50rem;
  background-color: #FFD500;
  padding: 0.25rem 0.5rem;
}

/*

  border

*/

.border-bottom {
  border-bottom: 1px solid #dadada;
}

.border-rounded {
  border-radius: 0.75rem;
  overflow: hidden;
}

/*

  else

*/

.container {
  max-width: 48rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/*

  input

*/
input {
  border-radius: 50rem;
  border: 1px solid #dadada;
  padding: 0.5rem 1rem;
}

/*

  button

*/

button, [role="button"] {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0.5rem;
}

/*

  list

*/

nav > ul, nav > ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*

text

*/

a {
  text-decoration: none;
  color: inherit;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

/*

image

*/

img {
  display: block;
  width: 100%;
}

/*

  component

*/

.nav {
  background-color: white;
}

.nav-list {
  display: flex;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
  padding: 1.5rem 0;
  text-align: center;
  border-bottom: transparent;
}

.nav[data-nav-type="1"],
.nav[data-nav-type="2"] {
  border-bottom: 1px solid #eee;
}

.nav[data-nav-type="1"] .nav-item[data-selected="true"],
.nav[data-nav-type="2"] .nav-item[data-selected="true"] {
  border-bottom: 2px solid #FFD500;
}

.nav[data-nav-type="4"] .nav-item {
  padding: 1rem 0;
}

.nav[data-nav-type="4"] .nav-item > div {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50em;
}

.nav[data-nav-type="4"] .nav-item[data-selected="true"] > div {
  background: #FFD500;
}

.nav[data-nav-type="2"] .nav-item[data-selected="false"],
.nav[data-nav-type="3"] .nav-item[data-selected="false"],
.nav[data-nav-type="4"] .nav-item[data-selected="false"] {
  color: #999;
}

.box {
  background-color: #FFF;
  border-bottom: 1px solid #E6E6E6;
  padding: 1rem;
  margin-top: 0.75rem;
}

.cardbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem -0.5rem 0 -0.5rem;
}

.cardbox .card {
  padding: 0 0.5rem;
  margin: 0.5rem auto;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  display: none;
  position: relative;
  float: left;
  width: 100%;
  margin-left: -100%;
}

.carousel-item {
  display: none;
}

.carousel-item.prev,
.carousel-item.active,
.carousel-item.next {
  display: block;
}

/* carousel transition */
.carousel-item {
  transition: transform 0.3s ease-in-out;
  transform: translateX(0%);
}
.carousel-item.active:not(.reverse) {
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}
.carousel-item.next:not(.reverse) {
  transition: none;
  transform: translateX(200%);
}

/* carousel transition (reverse) */
.carousel-item.prev.reverse {
  transition: none;
  transform: translateX(0%);
}
.carousel-item.active.reverse {
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}
.carousel-item.next.reverse {
  transition: transform 0.3s ease-in-out;
  transform: translateX(200%);
}

.carousel-button-prev {
  left: 1rem;
}
.carousel-button-next {
  right: 1rem;
}
.carousel-button-prev,
.carousel-button-next {
  width: 2rem;
  height: 2rem;
  margin: auto 0rem;
  position: absolute;
  border-radius: 50rem;
  border: 1px solid #fff;
  background-color: #0003;
  color: #fff;
}

.quicklink {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 0.75rem;
  overflow: hidden;
}

.quicklink-item {
  border: 1px solid white;
  width: 33.33333333333333%;
  padding: 1rem;
  text-align: center;
}
