body {
  width: 100vw;
  height: 100vh;
}

/*

  display

*/

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  flex: auto;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

/*

  position

*/

.p-sticky {
  position: sticky;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.right {
  float: right;
}

/*

  color

*/

.gray {
  color: #999999;
}

.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: #eee;
}

.pill-yellow {
  border-radius: 50rem;
  background-color: #FFD500;
  padding: 0.25rem 0.5rem;
}

/*

  border

*/

.border-bottom {
  border-bottom: 1px solid #dadada;
}

/*

  else

*/


.container {
  max-width: 48rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/*

  button

*/

button, [role="button"] {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0.5rem;
}

/*

  list

*/

nav > ul, nav > ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*

text

*/

a {
  text-decoration: none;
  color: inherit;
}

/*

image

*/

img {
  display: block;
  width: 100%;
}

/*

  component

*/

.nav {
  background-color: white;
}

.nav-list {
  display: flex;
}

.nav-item {
  flex: auto;
  padding: 1.5rem 0;
  text-align: center;
  border-bottom: 2px solid transparent;
}

.nav-item[data-selected='true'] {
  border-bottom: 2px solid #FFD500;
}

.box {
  background-color: #FFF;
  border-bottom: 1px solid #E6E6E6;
  padding: 1rem;
  margin-top: 0.75rem;
}

.carousel {
  
}

.quicklink {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 0.75rem;
  overflow: hidden;
}

.quicklink-item {
  border: 1px solid white;
  width: 33.33333333333333%;
  padding: 1rem;
  text-align: center;
}
