<!--

{
  title: string or undefined
  titleCount: integer or undefined
  noPadding: true or undefined
  noMargin: true or undefined
  components: array of _
}

-->
<%
let boxStyle = ''

if (typeof noPadding !== 'undefined') {
  boxStyle += ' p-0'
}

if (typeof noMargin !== 'undefined') {
  boxStyle += ' m-0'
}
%>
<div class="box <%= boxStyle %>">
  <!-- header -->
  <% if (typeof title !== 'undefined') { %>
  <div class="d-flex">
    <h2 class="my-2"><%= title %></h2>
    <% if (typeof titleCount !== 'undefined') { %>
    <small class="ml-1 gray">(<%= titleCount %>)</small>
    <% } %>
    <button class="px-0 ml-auto gray">더보기 &GT;</button>
  </div>
  <% } %>

  <!-- components -->
  <% if (typeof components !== 'undefined') { %>
    <%- include('_', { components: components }) %>
  <% } %>
</div>