<!-- 

{
  title: string
  titleCount: integer or undefined
  nav: nav or undefined
  contents: array of cardbox
}

-->
<div class="bg-white my-1 p-3 w-100">
  <!-- header -->
  <div class="d-flex">
    <h2><%= title %></h2>
    <% if (typeof titleCount !== 'undefined') { %>
    <small class="gray">(<%= titleCount %>)</small>
    <% } %>
    <button class="ml-auto gray">더보기 &GT;</button>
  </div>

  <!-- nav -->
  <% if (typeof nav !== 'undefined') { %>
    <%- include('_nav', nav) %>
  <% } %>

  <!-- contents -->
  <% for (const cardBox in contents) { %>
    <%- include('_cardbox', cardBox) %>
  <% } %>
</div>