<!--
{
  id: string
  cards: array of card
}
-->
<div id="<%= typeof id !== 'undefined' ? id : '' %>" class="cardbox">
  <% for (const card of cards) { %>
    <%- include('_card', card) %>
  <% } %>
</div>