<!--
{
  id: string
  cards: array of card
}
-->
<div id="<%= typeof id !== 'undefined' ? id : '' %>" class="cardbox">
  <% let listOrder = 1 %>
  <% for (const card of cards) { %>
    <%- include('_card', { ...card, listOrder }) %>
    <% listOrder++ %>
  <% } %>
</div>