<!--
{
  navTitle: string
  navType: string
  navList: [
    {
      text: string
      target: string
      selected: bool
    }
  ]
}
-->
<nav class="nav">
  <ul class="nav-list">
    <% for (const { text, target, selected } of navList) { %>
    <li role="button" class="nav-item"
      data-nav="<%= navTitle %>" data-target="<%= target %>" data-selected="<%= selected %>">
      <%= text %>
    </li>
    <% } %>
  </ul>
</nav>